# Created by .gitignore support plugin (hsz.mobi)
### Java template
*.class

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
#.idea/
# if you remove the above rule, at least ignore the following:

.idea/libraries
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
#.idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


target/


.DS_Store
*.iws
target
jjcode.log
jjcode.log.*
context.xml
.idea/workspace.xml
dataSources.local.xml
JustJournal_war_exploded.xml
misc.xml
node.lock
data/elasticsearch/nodes
src/main/webappold
.idea/dataSources
kotlinc.xml
php.xml
.idea/sonarlint
codeStyleConfig.xml
sonarlint.xml
compiler.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/runConfigurations.xml
