<div class="container">
    <form role="form" id="frmUpdateJournal" action="">

        <fieldset>
            <legend><strong>Journal Entry</strong><br></legend>

            <div class="form-group">
              <label for="subject">Subject</label>
        	  <input class="form-control" name="subject" type="text" id="subject" size="30" maxlength="150"
                                         value="" ng-model="entry.subject" trim="true">
        	  (optional)
            </div>

            <div class="form-group"><textarea id="body" name="body" style="width: 100%" cols="60" rows="20"
                    ng-model="entry.body" required></textarea>
            </div>

            <div class="form-group" id="newlinetext">
                by default, newlines will be auto-formatted to &lt;br&gt;
            </div>
        </fieldset>

        <fieldset>
            <legend><strong>Optional Settings</strong><br/></legend>

            <div class="form-group">
                <label for="security">Security</label>
                <select class="form-control" id="security" name="security" size="1"
                        ng-options="s.name for s in security" ng-model="entry.security">
                </select>
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <select class="form-control" id="location" name="location" size="1"
                        ng-options="l.name for l in location" ng-model="entry.location"></select>
            </div>

            <div class="form-group">
                <label for="mood"><a href="#/moodlist" title="List of Moods">Mood</a></label>

                <select class="form-control" id="mood" name="mood" size="1"
                        ng-options="m.name for m in moods" ng-model="entry.mood"></select>
            </div>

            <div class="form-group">
                <label for="tags">Tags</label>
                <input class="form-control" type="text" name="tags" id="tags" size="30" value=""
                       trim="true" ng-model="entry.tag">
            </div>

            <div class="form-group">
                <label for="music">Music</label>
                <input class="form-control" type="text" name="music" id="music" size="30" value="" ng-model="entry.music">
            </div>

            <div class="form-group">
                <label for="trackback">Trackback</label>
                <input class="form-control" type="url" name="trackback" id="trackback" size="30" value="" url="true"
                       ng-model="entry.trackback">
            </div>

            <div class="form-group">
                <input type="checkbox" name="allow_comment" id="allow_comment"
                       value="checked" checked="checked" ng-model="entry.allowComments">
                <label for="allow_comment">Allow comments on this entry</label>

            </div>

            <div class="form-group">
                <input type="checkbox" name="email_comment" id="email_comment"
                       value="checked" checked="checked" ng-model="entry.emailComments">
                <label for="email_comment">Email comments to me</label>

            </div>

            <div class="form-group" id="aformatrow">
                <input type="checkbox" name="aformat" id="aformat" ng-model="entry.autoFormat"
                       value="checked" checked="checked">
                <label for="aformat">Auto-formatting</label>
            </div>
        </fieldset>

        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </form>
</div>