
    <div class="row">
        <div class="span12">
            <h2>Member List</h2>

            <p>A list of public journals. Private blogs are not listed.</p>

            <table border="0" cellpadding="1" cellspacing="1" style="border: thin solid #F2F2F2; font-size: 10px;">
                <thead>
                <tr class="tbhead">
                    <th>Members</th>
                    <th>Name</th>
                    <th>Journal Created</th>
                    <th>Profile</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="member in Members">
                    <td><a href="/users/{{ UserName }}">{{ UserName }}</a></td>
                    <td>{{ Name }}</td>
                    <td><{{ Since }}</td>
                    <td><a href="#/profile/{{ UserName }}">view profile</a></td>
                </tr>
                </tbody>
            </table>

            <p>Listed members: {{ Members.length }}</p>
        </div>
    </div>
