body {
    background: white;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding-top: 0;
}

h1 {
    color: #5E7830;
    font-size: 1.2em;
    letter-spacing: .3em;
    text-align: center;
}

h2 {
    color: #CCCC99;
    font-size: .8em;
    margin-top: 0;
    width: 100%;
    letter-spacing: .2em;
    text-align: center;
}

#header {
    background: #26370A;
    width: 100%;
}

.label {
    font-size: .8em;
}

.arrowgreen{
	width: 180px; /*width of menu*/
	border-style: solid solid none solid;
	border-color: #94AA74;
	border-size: 1px;
	border-width: 1px;
}

.arrowgreen ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.arrowgreen li a{
	font: bold Helvetica, Arial, sans-serif;
	display: block;
	background: transparent url(arrowgreen.gif) 100% 0;
    height: 24px; /*Set to height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	padding: 4px 0 4px 10px;
	line-height: 24px; /*Set line-height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	text-decoration: none;
}

.arrowgreen li a:link, .arrowgreen li a:visited {
	color: #5E7830;
}

.arrowgreen li a:hover{
	color: #26370A;
	background-position: 100% -32px;
}


.arrowgreen li a.selected{
	color: #26370A;
	background-position: 100% -64px;
}
