/* Modern THEME red */

@import "font-base.css";
@import "users.css";
@import "modern.css";

h3 {
    color: rgb(81, 118, 236);
}

a:link {
    color: maroon;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:visited {
    color: navy;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:active {
    color: maroon;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:hover {
    color: red;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    border-bottom: thin dashed red;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header {
    background-color: red;
    color: #FFFFFF;
}
