/* Deap Blue Ocean Theme  */

@import "font-base.css";
@import "users.css";

body {
    margin: 5;
    padding: 5;
    font-family: comic sans;
    color: white;
    background-color: #3399CC;
}

h1 {
    margin: 0;
    padding: 0;
    padding-left: 14px;
    padding-top: 10px;
    font-size: 24px;
    letter-spacing: 0.09em;
}

h2 {
    color: white;
    font-size: 12pt;
    background: transparent;
}

h3 {
    color: blue;
    font-size: 12pt;
    font-family: arial;
    background-color: transparent;
    border-bottom: thin dashed blue;
    border-top: thin dashed blue;
    border-left: thin dashed blue;
    border-right: thin dashed blue;
}

dl {
    font: 10pt Verdana, Arial, Helvetica, sans-serif;
}

dt {
    font-size: 12pt;
}

p {
    font: 10pt / 14pt Verdana, Arial, Helvetica, sans-serif;
    margin: 0 0 16px 0;
    padding: 0;
}

img {
    border: 1;
}

#Content>p {
    margin: 0;
}

#Content>p+p {
    text-indent: 30px;
}

a:link {
    color: white;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:visited {
    color: white;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:active {
    color: black;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:hover {
    color: navy;
    background-color: transparent;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    border-bottom: thin dashed white;
    border-top: thin dashed white;
    font-family: arial;
}

#header {
    position: relative;
    left: 0;
    top: 0;
    text-align: left;
    width: 100%;
    background-color: navy;
    padding: 0;
    margin: 0;
    height: 42px;
    font-family: impact;
    color: blue;
    border-bottom: thin dashed lightgrey;
    border-top: thin dashed lightgrey;
    border-left: thin dashed lightgrey;
    border-right: thin dashed lightgrey;
}

#content {
    margin: 0 50px 50px 200px;
    padding: 10px;
}

#menu {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 172px;
    padding: 10px;
    line-height: 17px;
    voice-family: "\"}\"";
    voice-family: inherit;
    width: 150px;
}

body>#Menu {
    width: 150px;
}

#footer {
    position: relative;
    margin-left: 200px;
    font: 10pt verdana;
    padding: 10px;
}