/* Jewel */

@import "font-base.css";
@import "users.css";

body {
    margin: 0;
    padding: 0;
    font-family: verdana, arial, helvetica, sans-serif;
    color: white;
    background-color: black;

    background-image: url("http://www.foolishgames.com/jewel/pics/live_performances/jewel_121.jpg");
    background-repeat: no-repeat;
    background-position: top left;
}

h1 {
    font-weight: 600;
    color: #FF66FF;
    margin: 0;
    padding: 0;
    display: inline;
    letter-spacing: 10px;
}

h2 {
    color: white;
    background: transparent;
}

h3 {
    color: #FF66FF;
    font-size: 12pt;
    background-color: transparent;
}

dl {
    font: 10pt Verdana, Arial, Helvetica, sans-serif;
}

dt {
    font-size: 12pt;
}

img {
    border: 0;
}

p {
    font: 10pt / 12pt Verdana, Arial, Helvetica, sans-serif;
    margin: 0 0 16px 0;
    padding: 0;
}

a:link {
    color: #09c;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:visited {
    color: #07a;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:active {
    color: navy;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:hover {
    color: navy;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header {
    margin-left: 200px;
    padding: 10px;
    font: Arial, Helvetica, sans-serif 18pt;
}

#content {
    margin: 0 50px 50px 200px;
    padding: 10px;
}

#menu {
    position: relative;
    float: right;
    width: 172px;
    padding: 10px;
    background-color: #c2c2c2;
    border: 1px dashed #999;
    line-height: 17px; /* Again, the ugly brilliant hack. */
    voice-family: "\"}\"";
    voice-family: inherit;
    width: 150px;
}

/* Again, "be nice to Opera 5". */
body>#Menu {
    width: 150px;
}

#footer {
    position: relative;
    margin-left: 200px;
    font: 10pt verdana, Arial, sans-serif;
    padding: 10px;
}