/* Will be compiled down to a single stylesheet with your sass files */

h1 {
    color: black;
    background-color: transparent;
}

h2 {
    color: #003366;
    background-color: transparent;
}

h3 {
    color: black;
    background-color: transparent;
}

a:link {
    color: #006699;
    background-color: transparent;
}

a:visited {
    color: #003399;
    background-color: transparent;
}

a:active {
    color: #006666;
    background-color: transparent;
}

a:hover {
    color: #000033;
    background-color: transparent;
}

#header {
    background: transparent url( "../images/jj_header_bg.gif" ) repeat-x;
    padding-bottom: 20px;
}

#header img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#footer {
    margin-top: 2em;
    font-size: 8pt;
    color: gray;
    background-color: transparent;
    border-top: 1px solid gray;
}

#footer p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}