<div class="row">
    <div class="col-md-12">

        <h2>Preferences</h2>

        <form id="frmBiography" name="frmBiography" role="form" class="form-horizontal">
            <fieldset>
                <legend><strong>Biography</strong><br/></legend>


                <p>Publish a little information about yourself. This is viewable on your profile unless you have marked
                    your blog private. Plain text only.</p>


                <div class="form-group">
                    <label for="bio" class="col-sm-2 control-label">Biography</label>

                    <div class="col-sm-4">
                        <textarea id="bio" name="bio" style="width: 100%" cols="50" rows="20" data-ng-model="biography"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary btn-md" name="save" data-ng-click="save()">Save</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="alert" ng-hide="ErrorMessage == null">{{ ErrorMessage }}</div>
    </div>
</div>


