<div class="row">
    <div class="col-md-12">

        <h2>Preferences</h2>

        <form id="frmPasswd" name="ChangePassword" role="form" class="form-horizontal">
            <fieldset>
                <legend><strong>Change Account Password</strong><br/></legend>

                <div class="form-group">
                    <label for="passCurrent" class="col-sm-2 control-label">Current Password</label>

                    <div class="col-sm-4">
                        <input type="password" name="passCurrent" id="passCurrent" size="15"
                               class="form-control input-sm"
                               placeholder="Password" data-ng-model="password" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="passCurrent" class="col-sm-2 control-label">New Password</label>

                    <div class="col-sm-4">
                        <input type="password" name="passNew" id="passNew" size="15" class="form-control input-sm"
                               placeholder="Password" data-ng-model="newPassword" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary btn-md" name="save"
                                data-ng-click="save()">Save
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="alert" ng-hide="ErrorMessage == null">{{ ErrorMessage }}</div>
    </div>
</div>