<div class="row">
    <div class="col-md-12">

        <h2>Preferences</h2>

        <form id="frmJournal" name="JournalPreferences" role="form" class="form-horizontal">
            <fieldset>
                <legend><strong>Journal</strong><br/></legend>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-4">
                        <input type="text" name="name" id="name" size="150"
                               class="form-control input-sm"
                               placeholder="Name" data-ng-model="journal.name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="style" class="col-sm-2 control-label">Theme</label>

                    <div class="col-sm-4">
                        <select name="style" id="style" data-ng-model="journal.style" ng-options="x as x.title for x in styles" required></select>
                    </div>
                </div>                                                 


                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label><input type="checkbox" name="allowSpider" id="allowSpider"  class="form-control input-sm"
                              data-ng-model="journal.allowSpider" > Allow Search Engine indexing</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label><input type="checkbox" name="pingServices" id="pingServices"
                                      class="form-control input-sm"
                                      data-ng-model="journal.pingServices" > Allow ping services to get notifications on
                            blog updates</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label><input type="checkbox" name="ownerViewOnly" id="ownerViewOnly"
                                      class="form-control input-sm"
                                      data-ng-model="journal.ownerViewOnly" > Only allow blog owner to view
                            journal</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary btn-md" name="save"
                                data-ng-click="save()">Save
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="alert" ng-hide="ErrorMessage == null">{{ ErrorMessage }}</div>
    </div>
</div>