<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">

        <form role="form" id="frmAddComment" name="AddComment">
            <fieldset>
                <legend><strong>Comment</strong><br/></legend>

                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input class="form-control" name="subject" type="text" id="subject" size="30" maxlength="150"
                           value="" ng-model="comment.subject" trim="true" autofocus>
                </div>

                <div class="form-group"><textarea id="commentbody" name="commentbody" style="width: 100%" cols="60" rows="20"
                                                  ng-model="comment.body" ></textarea>
                </div>
            </fieldset>

            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </form>
        <div class="alert" ng-hide="ErrorMessage == null">{{ ErrorMessage }}</div>
    </div>
</div>
