<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <form role="form" id="frmUpdateJournal" name="UpdateJournal" novalidate>

            <fieldset>
                <legend><strong>Journal Entry</strong><br></legend>

                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input class="form-control" name="subject" type="text" id="subject" size="30" maxlength="150"
                           data-ng-maxlength="150"
                           value="" ng-model="entry.subject" trim="true" autofocus>
                    (optional)

                    <span style="color:red" ng-show="UpdateJournal.subject.$dirty && UpdateJournal.subject.$invalid">
                      <span ng-show="UpdateJournal.subject.$error.maxlength">Subject must not exceed 150 characters</span>
                      </span>
                </div>

                <div class="form-group"><textarea id="body" name="body" style="width: 100%" cols="60" rows="20"
                                                  ng-model="entry.body" required></textarea>
                </div>

                <div class="form-group">
                    <label for="security">Format</label>
                    <select class="form-control" id="format" name="format" size="1"
                            ng-model="entry.format"
                            adfng-init="entry.format = entry.format || options[0].value">
                        <option>TEXT</option>
                        <option>HTML</option>
                        <option>MARKDOWN</option>
                    </select>
                </div>
                
                <div class="form-group" id="newlinetext" data-ng-hide="entry.format != 'TEXT'">
                    by default, newlines will be auto-formatted to &lt;br&gt;
                </div>

                <div class="form-group" id="markdown explain" data-ng-hide="entry.format != 'MARKDOWN'">
               Consult <a href="https://confluence.atlassian.com/bitbucketserver/markdown-syntax-guide-776639995.html">this guide</a> on markdown.
               </div>

            </fieldset>

            <fieldset>
                <legend><strong>Optional Settings</strong><br/></legend>

                <div class="form-group">
                    <label for="security">Security</label>
                    <select class="form-control" id="security" name="security" size="1"
                            ng-options="s.id as s.name for s in security" ng-model="entry.security"
                            adfng-init="entry.security = entry.security || options[0].value">
                    </select>
                </div>

                <div class="form-group">
                    <label for="location">Location</label>
                    <select class="form-control" id="location" name="location" size="1"
                            ng-options="l.id as l.title for l in locations" ng-model="entry.location"
                            adfng-init="entry.location = entry.location || options[0].value"></select>
                </div>

                <div class="form-group">
                    <label for="mood"><a href="#!/moodlist" title="List of Moods">Mood</a></label>

                    <select class="form-control" id="mood" name="mood" size="1"
                            ng-options="m.id as m.title for m in moods" ng-model="entry.mood"></select>
                </div>

                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input class="form-control" type="text" name="tags" id="tags" size="30" value=""
                           trim="true" ng-model="entry.tag" data-ng-pattern="/^[a-z,\s]+$/" data-ng-change="tagclean()">

                    <span style="color:red" ng-show="UpdateJournal.tags.$dirty && UpdateJournal.tags.$invalid">
                        <span ng-show="UpdateJournal.tags.$error.pattern">Must be a valid tag of lowercase letters</span>
                    </span>
                </div>

                <div class="form-group">
                    <label for="music">Music</label>
                    <input class="form-control" type="text" name="music" id="music" size="30" value=""
                           ng-model="entry.music">
                </div>

                <div class="form-group">
                    <label for="trackback">Trackback</label>
                    <input class="form-control" type="url" name="trackback" id="trackback" size="30" value="" url="true"
                           ng-model="entry.trackback">
                </div>

                <div class="form-group">
                    <input type="checkbox" name="allow_comment" id="allow_comment"
                           value="checked" checked="checked" ng-model="entry.allowComments">
                    <label for="allow_comment">Allow comments on this entry</label>

                </div>

                <div class="form-group">
                    <input type="checkbox" name="email_comment" id="email_comment"
                           value="checked" checked="checked" ng-model="entry.emailComments">
                    <label for="email_comment">Email comments to me</label>

                </div>
            </fieldset>

            <button class="btn btn-primary" ng-click="save()"
                    ng-disabled="UpdateJournal.$invalid">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </form>
        <div class="alert" ng-hide="ErrorMessage == null">{{ ErrorMessage }}</div>
    </div>
</div>
