<div class="container">

    <h2>Profile for {{ username }}</h2>

    <p ng-show="account.showAvatar"><img class="img-rounded" ng-src="Avatar/{{ account.userId }}"
                                         alt="{{ username }} 's avatar"></p>


    <h3>General Information</h3>

    <p>user: <a href="users/{{ username }}">{{ username }}</a>
        <br>name: {{ account.firstName }}
        <br>my journals:
        <span ng-repeat="j in journal">{{ j.name }}</span>
    </p>

    <h3>Biography</h3>

    <p data-ng-bind-html="biography.bio"></p>

    <h3><a ng-href="users/{{ username }}/friends">Friends</a></h3>

    <p>
        <span ng-repeat="friend in friends">
        <img src="images/userclass_16.png" alt="users">
        <a href="users/{{ friend.username }}">{{ friend.username }}</a>
            <br>
        </span>
    </p>

    <h3>Statistics</h3>

    <p>Blog entries posted: {{ stats.entryCount }}</p>

    <p>Comments posted on blogs: {{ stats.commentCount }}</p>
</div>