<div class="container">

    <h2>Search</h2>
    
    <form name="bsearch" id="bsearch">
        <fieldset>
            <legend><strong>Search Blogs for</strong><br/></legend>
            <p>
                <input type="text" name="bquery" id="bquery" value="" data-ng-model="term">
                <button data-ng-click="blogSearch()" class="btn btn-primary btn-md">Find</button>
            </p>

            <p>Displays first 20 public entries containing the search terms.</p>
        </fieldset>

        <div data-ng-repeat="entry in results._embedded.blogEntries">
            <h4 style="color: orange;">{{ entry.date }}</h4>
            <div>
                <h5><img src="/images/userclass_16.png" alt="user"/> <a href="/users/{{entry.author}}"
                                                                        style="font-size: 12px;">{{entry.author}}</a>
                    - <span class="time">{{ entry.date }}</span> - <span class="subject"><a
                            href="/users/{{entry.author}}/entry/{{entry.id}}">
                              {{entry.subject}}
                             </a></span></h5>

                <div class="ebody" ng-bind-html="entry.body"></div>
            </div>
        </div>
    </form>

    <h3>Google Search of this site</h3>

    <form action="http://www.google.com/cse" id="cse-search-box" target="_blank">
        <div>
            <input type="hidden" name="cx" value="partner-pub-1321195614665440:ar3t7aj0zxt"/>
            <input type="hidden" name="ie" value="ISO-8859-1"/>
            <input type="text" name="q" size="31"/>
            <input type="submit" name="sa" value="Search"/>
        </div>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

</div>