<div class="container">

    <div class="row">
        <div class="span12">
            <h2>Site Map</h2>

            <p>Account</p>
            <ul>
                <li><a href="/" title="Create a new account">New</a></li>
                <li><a href="/cancel" title="Discontinue Just Journal service">Cancel</a></li>
                <li><a href="prefs/index.jsp">Preferences</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="#!/members">Member List</a></li>
            </ul>

            <p>Support</p>
            <ul>
                <li><a href="#!/support">Index</a></li>
                <li><a href="#!/support/bugs">Bugs</a></li>
                <li><a href="users/jjsite">Site Journal</a></li>
                <li><a href="#!/privacy">Privacy Policy</a></li>
                <li><a href="#!/moodlist">Mood List</a></li>
            </ul>

            <p>Software</p>
            <ul>
                <li><a href="#!/software">Index</a></li>
                <li><a href="#!/software/windows">Windows Client</a></li>
                <li><a href="#!/opensource">Open Source</a></li>
                <li><a href="http://github.com/laffer1/">Github JustJournal</a></li>
                <li><a href="http://sourceforge.net/projects/justjournal" title="View the source code repository">Source
                    Forge CVS</a> (old repository)</li>
            </ul>

            <p>Journal</p>
            <ul>
                <li><a href="#!/entry" title="Create Journal Entries">Update</a></li>
                <li><a href="#!/tags" title="View Tags used on JustJournal blogs">Tag Cloud</a></li>
            </ul>
        </div>
    </div>
</div>