<div class="container">
<h2>Technical Information</h2>

    <p>&nbsp;</p>

    <h3>What server platform are you using?</h3>

    <p>Just Journal is hosted on a <a href="http://www.midnightbsd.org/">MidnightBSD</a> server using <a
            href="http://www.apache.org/">Apache</a> 2.4, Apache Tomcat
        710.x and Java  OpenJDK 17. I use <a href="http://www.mysql.com/">MySQL</a> 8.x for the database, with Redis 7.x and minio.</p>

    <h3>Isn't Java slow?</h3>

    <p>This is a common misconception. Java used at the server level is quite fast.
        Most people think of Java applications that use AWT or Swing when
        they say Java is slow. The Java GUI libraries are slow, but server-side
        technologies power huge Internet sites.</p>

    <h3>Do you think this site will scale?</h3>

    <p>The current version needs work in this area, but I think that I can handle
        the load for some time. In reality, the weakest link is MySQL. I will work
        on Caching systems and generating dynamic content into static form. I
        may end up moving away from MySQL if performance becomes an issue.</p>

    <h3>Isn't this site like LiveJournal? Why didn't you use their code?</h3>

    <p><a href="http://www.livejournal.com/">LiveJournal</a> was a great website when I first started using it.
        Unfortunately,
        It didn't scale well. I suggested some changes to Live Journal, including
        changing the styling system and switching to CSS for many of the &quot;template
        tasks.&quot; It appeared that my comments were not going to be considered
        since the creator based it on a &quot;language&quot; he created called BML.</p>

    <p>BML is an HTML template system written in Perl 5. It was designed to help reuse
        blocks of HTML similar to objects. The idea was nice at the time, but it
        was implemented in Perl, and Cascading Style Sheets solved
        most of the same problems. (presentation code reuse)</p>

    <p>I did download
        the LiveJournal code to see if I could alter it and import my own style
        system, but LiveJournal is implemented as mod perl modules tightly integrated
        with the BML code. The use of mod perl for a legacy version of Apache (1.3)
        showed me that the project was not salvageable without a lot of work. I
        finally decided to write a site from scratch in a language more suited
        to me.</p>

    <p>LiveJournal has since implemented a caching system using a C server program
        (hash, storing &quot;objects&quot; in ram), and upgraded the style system.
        Recently, LiveJournal started storing practically everything in RAM.</p>

    <p>There are several other limitations LiveJournal has because it must be
        backward compatible. Since I am writing JustJournal from scratch, I may
        avoid some of their mistakes, making this site better than LJ.</p>

    <h3>Is this site open source?</h3>

    <p>Yes. I released the code under the BSD license. The Windows client
        is under the GPL license due to code that I based it on. (LJ.NET client)
    </p>
</div>
