<h2>*NIX Client</h2>

   <p class="firstone">The command line client was written for
       <a href="http://www.midnightbsd.org">MidnightBSD</a>, but should work on other unix-like systems.</p>

   <h3>Compiling and Installing jjclient</h3>

   <p>To compile the client, use make. make install will install it into a directory (default /usr/local/bin/jjclient)
       . DESTDIR and prefix are available to be set for advanced users or developers working with software
       repositories.</p>

   <h3>Usage</h3>

   <p>jjclient -u yourusername -p yourpassword < sometexttoblog.txt or
       jjclient -u yourusername -p yourpassword
       type entry
       control + D (EOF) on it's own line and return
   </p>

   <h3>Download</h3>
   <ul>
       <li><a href="https://github.com/laffer1/justjournal-client-unix/releases">Just Journal for *NIX systems</a></li>
   </ul>
   <p>You may also view the code <a href="http://github.com/laffer1/justjournal-client-unix">JJ Unix client on Github</a></p>
