body {
    background: white;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

h1 {
    color: navy;
    font-size: 1.5em;
}

h2 {
    color: gray;
    font-size: 1.2em;
}

#header {
    background: transparent url( "../images/jj_header_bg.gif" ) repeat-x;
}