<!doctype html>
<html class="no-js" ng-app="wwwApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Just Journal: Free Online Journals</title>
    <meta name="description" content="Just Journal is a free online blogging service with web and desktop clients." />
    <meta property="og:site_name" content="Just Journal" />
    <meta name="viewport" content="width=device-width" />
    <meta name="msvalidate.01" content="D1E040678EBA2490CC51CABAABCE7928" />
    <meta name="google-site-verification" content="DTrNXBvTzRjd3Rl622MXUgtYzEJv2Dz6Mp5GBfVOo9Y" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="static/styles/bootstrap.min.css" th:href="@{static/styles/bootstrap.min.css}" />
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="static/components/angular-ui/build/angular-ui.css" th:href="@{components/angular-ui/build/angular-ui.css}"/>
    <link rel="stylesheet" href="static/styles/main.css" th:href="@{static/styles/main.css}" />
    <!-- endbuild -->
    <!-- IE 10 support -->
    <style type="text/css">
        /*noinspection ALL*/
        @-webkit-viewport   { width: device-width; }
        /*noinspection ALL*/
        @-moz-viewport      { width: device-width; }
        /*noinspection ALL*/
        @-ms-viewport       { width: device-width; }
        /*noinspection ALL*/
        @-o-viewport        { width: device-width; }
        /*noinspection ALL*/
        @viewport           { width: device-width; }
    </style>
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
          var msViewportStyle = document.createElement("style");
          msViewportStyle.appendChild(
            document.createTextNode(
              "@-ms-viewport{width:auto!important}"
            )
          );
          document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>

<body data-ng-controller="wwwAppCtrl">

<!-- Header: Begin -->
<header>
    <div id="header">
        <a href="#!/"><img src="static/images/jj_header.gif" th:src="@{images/jj_header.gif}" alt="JustJournal" width="608" /></a>
    </div>
</header>
<!-- Header: End -->

<!-- Add your site or application content here -->
<div class="container" data-ng-view=""></div>

<!-- Footer: Begin -->

<footer>
<div id="footer">
    <p id="copyright">&#169; 2003 - 2017 Lucas Holt. All rights reserved.</p>

    <p><a href="/#!/privacy" title="Privacy Policy">Privacy</a> |
        <a href="/#!/search" title="Search">Search</a> |
        <a href="/#!/sitemap" title="Sitemap">Sitemap</a></p>
</div>

<div style="text-align: center; margin: auto;">
    <script type="text/javascript"><!--
    google_ad_client = "pub-1321195614665440";
    /* 468x60, created 8/27/08 */
    google_ad_slot = "8080888486";
    google_ad_width = 468;
    google_ad_height = 60;
    //-->
    </script>
    <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>
</footer>
<!-- Footer: End -->

<script type="text/javascript" src="static/components/jquery/dist/jquery.min.js" th:src="@{components/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{components/jquery.validation/jquery.validate.js}"
        src="static/components/jquery.validation/jquery.validate.js"></script>
<script type="text/javascript"
        th:src="@{js/bootstrap.min.js}"
        src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{components/angular/angular.js}"
        src="static/components/angular/angular.js"></script>
<script type="text/javascript"  th:src="@{components/angular-resource/angular-resource.js}"
        src="static/components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" th:src="@{components/angular-route/angular-route.js}"
        src="static/components/angular-route/angular-route.js"></script>
<script type="text/javascript"   th:src="@{components/angular-cookies/angular-cookies.js}"
        src="static/components/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript"  th:src="@{components/angular-sanitize/angular-sanitize.js}"
        src="static/components/angular-sanitize/angular-sanitize.js"></script>

<script type="text/javascript"   th:src="@{components/angular-ui/build/angular-ui.js}"
        src="static/components/angular-ui/build/angular-ui.js"></script>

<script type="text/javascript"   th:src="@{components/angular-ui-bootstrap/src/pagination/pagination.js}"
        src="static/components/angular-ui-bootstrap/src/pagination/pagination.js"></script>

<script type="text/javascript"   th:src="@{components/ng-file-upload-shim/ng-file-upload-shim.js}"
        src="static/components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<script type="text/javascript" th:src="@{components/ng-file-upload/ng-file-upload.js}"
        src="static/components/ng-file-upload/ng-file-upload.js"></script>

<script type="text/javascript" th:src="@{ckeditor/ckeditor.js}"
        src="static/ckeditor/ckeditor.js"></script>
<script type="text/javascript" th:src="@{ckeditor/plugins/markdown/js/to-markdown.js}"
        src="static/ckeditor/plugins/markdown/js/to-markdown.js"></script>


<!-- build:js scripts/scripts.js -->
<script type="text/javascript" src="static/scripts/app.js" th:src="@{scripts/app.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/wwwApp.js" th:src="@{scripts/controllers/wwwApp.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/main.js" th:src="@{scripts/controllers/main.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/bugs.js" th:src="@{scripts/controllers/bugs.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/cancel.js" th:src="@{scripts/controllers/cancel.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/cancel.js" th:src="@{scripts/controllers/comment.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/entry.js" th:src="@{scripts/controllers/entry.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/faq.js" th:src="@{scripts/controllers/faq.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/members.js" th:src="@{scripts/controllers/members.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/moodlist.js" th:src="@{scripts/controllers/moodlist.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/privacy.js" th:src="@{scripts/controllers/privacy.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/profile.js" th:src="@{scripts/controllers/profile.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/search.js" th:src="@{scripts/controllers/search.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/sitemap.js" th:src="@{scripts/controllers/sitemap.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/stats.js" th:src="@{scripts/controllers/stats.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/software.js" th:src="@{scripts/controllers/software.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/support.js" th:src="@{scripts/controllers/support.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/tags.js" th:src="@{scripts/controllers/tags.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/tech.js" th:src="@{scripts/controllers/tech.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/prefs/changePassword.js" th:src="@{scripts/controllers/prefs/changePassword.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/prefs/image.js" th:src="@{scripts/controllers/prefs/image.js}"></script>

<script type="text/javascript" src="static/scripts/services/AccountService.js" th:src="@{scripts/services/AccountService.js}"></script>
<script type="text/javascript" src="static/scripts/services/BiographyService.js" th:src="@{scripts/services/BiographyService.js}"></script>
<script type="text/javascript" src="static/scripts/services/CommentService.js" th:src="@{scripts/services/CommentService.js}"></script>
<script type="text/javascript" src="static/scripts/services/EntryService.js" th:src="@{scripts/services/EntryService.js}"></script>
<script type="text/javascript" src="static/scripts/services/FriendService.js" th:src="@{scripts/services/FriendService.js}"></script>
<script type="text/javascript" src="static/scripts/services/LocationService.js" th:src="@{scripts/services/LocationService.js}"></script>
<script type="text/javascript" src="static/scripts/services/LoginService.js" th:src="@{scripts/services/LoginService.js}"></script>
<script type="text/javascript" src="static/scripts/services/MemberService.js" th:src="@{scripts/services/MemberService.js}"></script>
<script type="text/javascript" src="static/scripts/services/MoodService.js" th:src="@{scripts/services/MoodService.js}"></script>
<script type="text/javascript" src="static/scripts/services/SearchService.js" th:src="@{scripts/services/SearchService.js}"></script>
<script type="text/javascript" src="static/scripts/services/SecurityService.js" th:src="@{scripts/services/SecurityService.js}"></script>
<script type="text/javascript" src="static/scripts/services/StatisticsService.js" th:src="@{scripts/services/StatisticsService.js}"></script>
<script type="text/javascript" src="static/scripts/services/TagService.js" th:src="@{scripts/services/TagService.js}"></script>
<!-- endbuild -->

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-560995-1', 'justjournal.com');
    ga('require', 'linkid', 'linkid.js');
    ga('send', 'pageview');
</script>
<script type="text/javascript">
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
</body>
</html>
