<!doctype html>
<html class="no-js" ng-app="wwwApp" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>JustJournal.com: Log Out</title>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="content-language" content="en-us"/>
    <link rel="stylesheet" href="static/styles/bootstrap.min.css" th:href="@{static/styles/bootstrap.min.css}"/>

    <link rel="stylesheet" href="static/components/angular-ui/build/angular-ui.css"
          th:href="@{components/angular-ui/build/angular-ui.css}"/>
    <link rel="stylesheet" href="static/styles/main.css" th:href="@{static/styles/main.css}"/>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-560995-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-560995-1');
    gtag('send', 'event', 'Authentication', 'LogOut');
</script>

</head>

<body>

<!-- Header: Begin -->
<header>
    <div id="header">
        <h1><a href="/"><img src="static/images/jj_header.gif" th:src="@{images/jj_header.gif}" alt="JustJournal"
                               width="608"/></a></h1>
    </div>
</header>
<!-- Header: End -->

<div class="container">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <h2>Log Out</h2>

            <p>You are now logged out.</p>


            <p>You may <a href="/#!/">login</a> again.</p>

        </div>
    </div>
</div>

<footer>
<div id="footer">
    <p id="copyright">&#169; 2003 - 2020 Lucas Holt. All rights reserved.</p>

    <p><a href="/#!/privacy" title="Privacy Policy">Privacy</a> |
        <a href="/#!/search" title="Search">Search</a> |
        <a href="/#!/sitemap" title="Sitemap">Sitemap</a></p>
</div>
</footer>

</body>
</html>
