<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css" th:href="@{/static/styles/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/static/styles/main.css" th:href="@{/static/styles/main.css}" />
</head>

<body>

<!-- Header: Begin -->
<header>
    <div id="header">
        <h1><a href="/#!/"><img src="/static/images/jj_header.gif" th:src="@{/images/jj_header.gif}" alt="JustJournal"
                               width="608"/></a></h1>
    </div>
</header>
<!-- Header: End -->


<div class="container">
    <h2>Page Not Found</h2>

    <p>The page you are looking for does not exist. It may have been deleted or removed. Double check the address.</p>
</div>

<footer>
    <div id="footer">
        <p id="copyright">&#169; 2003 - 2020 Lucas Holt. All rights reserved.</p>

        <p><a href="/#!/privacy" title="Privacy Policy">Privacy</a> |
            <a href="/#!/search" title="Search">Search</a> |
            <a href="/#!/sitemap" title="Sitemap">Sitemap</a></p>
    </div>
</footer>
</body>
</html>