<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${user.journals.get(0).name}"></title>
    <meta th:if="${user.journals.get(0).allowSpider}" name="robots" content="noindex, nofollow, noarchive" />
    <meta th:if="${user.journals.get(0).allowSpider}" name="googlebot" content="nosnippet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:site_name" content="Just Journal" />
    <meta property="og:type" content="article" />
    <meta property="og:image" th:content="@{'http://www.justjournal.com/image?id=' + ${user.id}}" />

    <meta th:if="${entry != null}" property="og:url"   th:content="@{'http://www.justjournal.com/users/' + ${user.username} + '/entry/' + ${entry.getId()}}" />
    <meta th:if="${entry != null}" property="og:title" th:content="${entry.getSubject()}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css" th:href="@{/static/styles/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/users.css" th:href="@{/static/styles/users.css}"/>

    <link rel="stylesheet" type="text/css" media="screen"
          th:href="${user.journals.get(0).style.id > 16} ? '/static/styles/' + ${user.journals.get(0).style.id} + '.css' : '/static/styles/bootstrap-theme.min.css'" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen"
          href="/static/components/lightbox2/css/lightbox.css" th:href="@{/components/lightbox2/css/lightbox.css}" />
    <link rel="alternate" type="application/rss+xml" title="RSS"
          th:href="@{'http://www.justjournal.com/users/' + ${user.username} +'/rss'}" />
    <link rel="alternate" type="application/atom+xml" title="Atom"
          th:href="@{'http://www.justjournal.com/users/' + ${user.username} +'/atom'}" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD"
          th:href="@{'http://www.justjournal.com/rsd?blogID=' + ${user.username}}" />
</head>

<body>

<div id="fb-root"></div>
<script type="text/javascript">
    /*<![CDATA[*/
    window.fbAsyncInit = function() {
       FB.init({
         appId      : '515486615309287',
         xfbml      : true,
         version    : 'v2.6'
       });
     };

     (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    /*]]>*/
</script>

<div class="container">
    <header>
        <div class="row">
            <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/#!/" title="JustJournal">
                            JustJournal
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li th:class="${entries != null} ? 'active' : ''">
                                <a title="Home"
                                   th:href="@{'/users/' + ${user.username}}"><i
                                        class="fa fa-home"></i></a>
                            </li>
                            <li th:class="${calendar != null} ? 'active' : ''">
                                <a title="Calendar"
                                   th:href="@{'/users/' + ${user.username} + '/calendar'}"><i class="fa fa-calendar"></i></a>
                            </li>
                            <li th:class="${friends != null} ? 'active' : ''">
                                <a title="Friends"
                                   th:href="@{'/users/' + ${user.username} + '/friends'}"><i class="fa fa-group"></i></a>
                            </li>
                            <li th:class="${pictures != null} ? 'active' : ''">
                                <a title="Photos"
                                   th:href="@{'/users/' + ${user.username} + '/pictures'}"><i class="fa fa-picture-o"></i></a>
                            </li>
                            <li th:class="${favorites != null} ? 'active' : ''">
                                <a title="Favorites"
                                   th:href="@{'/users/' + ${user.username} + '/favorites'}"><i
                                        class="fa fa-heart"></i></a>
                            </li>
                            <li th:class="${subscription != null} ? 'active' : ''">
                                <a title="Feed Reader"
                                   th:href="@{'/users/' + ${user.username} + '/subscriptions'}"><i
                                        class="fa fa-rss"></i>r</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formats <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a rel="alternate"
                                           th:href="@{'/users/' + ${user.username} + '/rss'}"><i
                                            class="fa fa-rss"></i> RSS</a></li>
                                    <li><a rel="alternate"
                                           th:href="@{'/users/' + ${user.username} + '/atom'}"><i
                                            class="fa fa-rss"></i>
                                        ATOM</a></li>
                                    <li>
                                        <a th:href="@{'/users/' + ${user.username} + '/pdf'}"><i
                                                class="fa fa-download"></i> PDF</a>
                                    </li>
                                    <li>
                                        <a th:href="@{'/users/' + ${user.username} + '/rtf'}"><i
                                                class="fa fa-download"></i> RTF</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <form class="navbar-form navbar-left" role="search" method="get"
                                      th:action="@{'/users/' + ${user.username} + '/search'}">
                                    <input type="hidden" name="max" value="20" />

                                    <div class="form-group">
                                        <input type="search" name="bquery" id="bquery"
                                               class="form-control input-sm search-query"
                                               placeholder="Search" />
                                    </div>
                                </form>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/#!/entry" title="New Entry"><i
                                    class="fa fa-pencil-square"></i> New Entry</a></li>
                            <li>
                                <a th:href="@{'/#!/profile/' + ${user.username}}"><i
                                        class="fa fa-user"></i> Profile</a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Login &amp; Settings"><i
                                        class="fa fa-cog"></i> <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li th:if="${authenticatedUsername == null}"><a href="/#!/"><i
                                            class="fa fa-sign-in"></i> Login</a>
                                    </li>

                                    <li th:if="${authenticatedUsername != null}"><a href="/#!/prefs/password"><i
                                                                      class=""></i>
                                        Change Password</a></li>

                                    <li th:if="${authenticatedUsername != null}"><a href="/#!/prefs/image">
                                        <i class="fa fa-picture-o"></i> Add Pictures</a></li>

                                    <li th:if="${authenticatedUsername != null}"><a href="/#!/prefs/avatar">
                                        <i class="fa fa-picture-o"></i> Avatar</a></li>

                                    <li th:if="${authenticatedUsername != null}"><a href="/#!/prefs/biography">
                                                                         <i class="fa fa-picture-o"></i> Biography</a></li>

                                    <li th:if="${authenticatedUsername != null}"><a href="/logout"><i class="fa fa-sign-out"></i>
                                    Log Out</a></li>
                                </ul>
                            </li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <section>
            <div id="menu" class="col-xs-6 col-md-3">

                <p th:if="${avatar}"><img class="img-rounded img-responsive" alt="avatar"
                        th:src="@{'/image?id=' + ${user.id}}" />
                </p>

                <div class="menuentity" id="userRecentEntries">
                    <strong style="text-transform: uppercase; letter-spacing: 2px; border: 0 dotted #999999;border-bottom-width: 1px;margin-bottom: 5px; width: 100%; font-size: 10px;">Recent
                        Entries</strong>
                    <ul class="list-group" id="userRecentEntriesList">
                    </ul>
                </div>

                <div class="menuentity" id="userlinks" style="padding-top: 10px;">
                    <strong style="text-transform: uppercase; letter-spacing: 2px; border: 0 dotted #999999;border-bottom-width: 1px;margin-bottom: 5px; width: 100%; font-size: 10px;"><i
                            class="fa fa-external-link-square"></i> Links</strong>
                    <ul class="list-group" id="userlinkList">
                    </ul>
                </div>

                <div class="menuentity" id="archive" style="padding-top: 10px;">
                    <strong style="text-transform: uppercase; letter-spacing: 2px; border: 0 none; border-bottom: 1px; border-style: dotted; border-color: #999999; margin-bottom: 5px; width: 100%; font-size: 10px;">Archive</strong>
                    <ul class="list-group" id="userArchiveList">
                    </ul>
                </div>

                <div class="menuentity" id="usertags" style="padding-top: 10px;">
                    <strong style="text-transform: uppercase; letter-spacing: 2px; border: 0 dotted #999999;border-bottom-width: 1px;margin-bottom: 5px; width: 100%; font-size: 10px;"><i
                            class="fa fa-tags"></i> Tags</strong>

                    <p style="padding-left: 0; margin-left: 0;" id="tagsmini">
                    </p>
                </div>

                <div th:utext="${calendarMini}"></div>
            </div>
        </section>

        <section>
            <div id="content" class="col-xs-12 col-md-8 col-md-offset-1">
                <div class="page-header">
                    <h1 th:text="${user.journals.get(0).name}"></h1>
                </div>

                    <p th:if="${authenticatedUsername != null}">You are logged in as <a
                            th:href="@{'/users/' + ${user.username}}"><img
                            src="/images/userclass_16.png"
                            alt="user" /> <span th:text="${user.username}"></span></a>
                    </p>

                   <ul class="pager" th:if="${pageable != null}">
                        <li class="previous">
                            <a th:href="@{'/users/' + ${user.username} + '?page=' + ${pageable.getPageNumber() + 1}}">&larr;
                                Older</a>
                        </li>
                        <li class="next disabled" th:if="${pageable.getPageNumber()} == 0">
                            <a>Newer &rarr;</a>
                        </li>
                        <li class="next" th:if="${pageable.getPageNumber()} > 0">
                            <a th:href="@{'/users/' + ${user.username} + '?page=' + ${pageable.getPageNumber() - 1}}">Newer &rarr;</a>
                        </li>
                    </ul>

                <div th:utext="${entries}"></div>

                <div th:if="${pageable != null}">
                    <ul class="pager">
                        <li class="previous">
                            <a th:href="@{'/users/' + ${user.username} + '?page=' + ${pageable.getPageNumber() + 1}}">&larr;
                                Older</a>
                        </li>
                           <li class="next disabled" th:if="${pageable.getPageNumber()} == 0">
                                <a>Newer &rarr;</a>
                            </li>

                            <li class="next" th:if="${pageable.getPageNumber()} > 0">
                                <a th:href="@{'/users/' + ${user.username} + '?page=' + ${pageable.getPageNumber() - 1}}">Newer &rarr;</a>
                            </li>
                      </ul>
                </div>

                <div th:utext="${entry_format}" th:if="${entry != null}"></div>


                <div th:utext="${friends}"></div>

                <div th:utext="${favorites}"></div>

                <div th:if="${pictures} != null and ${pictures.size()} > 0">
                    <h2>Pictures</h2>
                    
                    <div class="row">
                        <div th:each="pic : ${pictures}" class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a th:href="@{'/AlbumImage/' + ${pic.id}}" rel="lightbox">
                                    <img th:src="@{'/AlbumImage/' + ${pic.id} + '/thumbnail'}" th:alt="${pic.title}"/>
                                </a>
                                <div class="caption"><span th:text="${pic.title}"></span>
                                    <a class="btn btn-danger btn-xs" role="button" th:if="${authenticatedUsername != null}"
                                       th:onclick="'javascript:deleteImage(\'' + ${pic.id} + '\');'"><i
                                            class="fa fa-remove"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p>Subscribe to pictures <a th:href="@{'/users/' + ${user.username} + '/rsspics'}">feed</a>.</p>

                    <p th:if="${authenticatedUsername != null}"><a href="/#!/prefs/image">Add more pictures</a></p>
                </div>

                <div th:utext="${search}"></div>
                <div th:utext="${subscriptions}"></div>
                <div th:utext="${tags}"></div>
                <div th:utext="${calendar}"></div>

                <div th:if="${currentYear > 0}">
                    <p>Select a year to view blog entries.</p>

                    <ul>
                        <li th:each="yr : ${years}">
                            <a th:href="@{ '/users/' + ${user.username} + '/' + ${yr}}" th:text="${yr}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript" src="/static/components/jquery/dist/jquery.min.js" th:src="@{/components/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" src="/static/js/jj.js" th:src="@{/js/jj.js}" defer="defer"></script>
<script type="text/javascript" src="/static/components/jquery-ui/jquery-ui.min.js" th:src="@{/components/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript"  th:src="@{/components/lightbox2/js/lightbox.min.js}"
        src="/static/components/lightbox2/js/lightbox.min.js" defer="defer"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="//apis.google.com/js/platform.js" async="async" defer="defer"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var username = /*[[${user.username}]]*/ "";

    $().ready(function () {
        $.get('/api/entry/' + username + '/recent',
                function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var link = '<li class="list-group-item"><a href="/users/' + username + '/entry/' + data[i].id + '">' +
                                (data[i].subject == '' ? '(no subject)' : data[i].subject) + '</a></li>';
                        $('ul#userRecentEntriesList').append(link);
                    }
                }
        );
        
        $.get('/api/link/user/' + username,
                function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var link = '<li class="list-group-item"><a href="' + data[i].uri + '">' + data[i].title + '</a></li>';
                        $('ul#userlinkList').append(link);
                    }
                }
        );

        $.get('/api/entry/' + username + '/statistics',
                        function (data) {
                            for (var i = 0; i < data.length; i++) {
                                var count = '<li class="list-group-item"><a href="/users/' + username + '/' + data[i].year + '">' +
                                        data[i].year + ' (' + data[i].count + ')</a></li>';
                                $('ul#userArchiveList').append(count);
                            }
                        }
                );

        $.get('/api/tagcloud/' + username,
                function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var tag = '<a href="/users/' + username + '/tag/' + data[i].name + '" class="' + data[i].type + '">' + data[i].name + '</a> ';
                        $('p#tagsmini').append(tag);
                    }
                }
        );
    });

    function deleteImage(id) {
        $.ajax({
            url: '/AlbumImage/' + id,
            type: 'DELETE',
            success: function (result) {
                alert('Image deleted');
                location.reload();
            }
        });
    }

    // google analytics
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-560995-1', 'justjournal.com');
    ga('require', 'linkid', 'linkid.js');
    ga('send', 'pageview');

    /*]]>*/
</script>

</body>

</html>
