/* Modern THEME */

@import "font-base.css";
@import "users.css";
@import "modern.css";

h3 {
    color: purple;
}

a:link {
    color: purple;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:visited {
    color: green;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:active {
    color: green;
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:hover {
    background-color: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
    border-bottom: thin dashed purple;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header {
    background-color: purple;
    color: #FFFFFF;
}