/* layout.css for justjournal.com */

body {
    background: white;
    padding: 0;
    margin: 0 0 40px;
}

img {
    border: none;
}

h1 {
    color: black;
    background-color: transparent;
}

h2 {
    color: #003366;
    background-color: transparent;
}

h3 {
    color: black;
    background-color: transparent;
}

a:link {
    color: #006699;
    background-color: transparent;
}

a:visited {
    color: #003399;
    background-color: transparent;
}

a:active {
    color: #006666;
    background-color: transparent;
}

a:hover {
    color: #000033;
    background-color: transparent;
}

#title {
    float: left;
}

#titleicon {
    float: left;
    margin-top: 20px;
    margin-left: .2in;
}

#titlelogo {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 0;
}

#menuiconrow {
    background: #f2f2f2;
    color: gray;
    margin-top: 10px;
    border: 1px solid gray;
    float: right;
    position: relative;
    z-index: 1;
}

#menuiconfirst {
    border-left: none;
}

.menuicons {
    padding: 3px;
    border-left: 1px dotted gray;
}

p.firstone {
    font-size: 1.3em;
    line-height: 1.6em;
}

p.firstone:first-letter {
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#header {
    background: transparent url("images/jj_header_bg.gif") repeat-x;
}

#header img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: .5em;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    margin-top: 2em;
    font-size: 8pt;
    color: gray;
    background-color: transparent;
    border-top: 1px solid gray;
}

#footer p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.row {
    clear: both;
    padding-top: 5px;
}

div.row span.label {
    float: left;
    width: 140px;
    text-align: right;
}

div.row span.formw {
    float: right;
    width: 325px;
    text-align: left;
}

div.spacer {
    clear: both;
}

.rightflt {
    float: right;
}

.commentcount {
    width: 100%;
    background: silver;
}

@media screen {
    fieldset {
        border: 2px solid #6FCADE;
        background: white;
        color: #333;
    }

    legend {
        color: navy;
        font-weight: bold;
    }

    input {
        font-family: Verdana, sans-serif;
        font-size: 8pt;
        color: black;
        background-color: #F2F2F2;
        font-weight: 400;
    }

    input:focus {
        background-color: #FFFF99;
    }

    input:hover {
        background-color: #FFFF99;
    }

    input[type="button"]:hover {
        background-color: #FFFF99;
    }

    select {
        font-family: Verdana, sans-serif;
        font-size: 10pt;
        color: black;
        background-color: #F2F2F2;
        font-weight: 400;
    }

    select:hover {
        background-color: #FFFF99;
    }

    textarea {
        background-color: #F2F2F2;
    }

    textarea:focus {
        background-color: #FFFF99;
    }

    textarea:hover {
        background-color: #FFFF99;
    }

    #searchbox {
        font-family: Verdana, sans-serif;
        font-size: 10pt;
        color: black;
        background-color: white;
    }

}
