<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>JustJournal</display-name>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/jjDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <filter>
        <filter-name>cayenne-JustJournalDomain</filter-name>
        <filter-class>org.apache.cayenne.configuration.web.CayenneFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>cayenne-JustJournalDomain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.justjournal.core.MailServletContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.justjournal.core.RssCacheContextListener</listener-class>
    </listener>

    <servlet>
   		<servlet-name>mvc-dispatcher</servlet-name>
   		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
           <load-on-startup>1</load-on-startup>
   	</servlet>

   	<servlet-mapping>
   		<servlet-name>mvc-dispatcher</servlet-name>
   		<url-pattern>/</url-pattern>
   	</servlet-mapping>

    <!-- Spring intercepts everything.. avoid that by using tomcat's default servlet for output -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>Users Viewer</display-name>
        <servlet-name>users</servlet-name>
        <servlet-class>com.justjournal.Users</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Image Viewer</display-name>
        <servlet-name>image</servlet-name>
        <servlet-class>com.justjournal.Image</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>xml-rpc</servlet-name>
        <servlet-class>com.justjournal.ctl.XmlRpc</servlet-class>
        <init-param>
            <param-name>streamMessages</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param> <!-- Optional! Defaults to text/xml and ISO-8859-1 -->
            <param-name>contentType</param-name>
            <param-value>text/xml; charset=ISO-8859-1</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Journal Update</display-name>
        <servlet-name>updateJournal</servlet-name>
        <servlet-class>com.justjournal.UpdateJournal</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Edit Entry</display-name>
        <servlet-name>EditEntry</servlet-name>
        <servlet-class>com.justjournal.EditEntry</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>JJ Login</display-name>
        <servlet-name>loginAccount</servlet-name>
        <servlet-class>com.justjournal.LoginAccount</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Delete Account</display-name>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>com.justjournal.ctl.DeleteAccount</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Select Style Sheet Base Template</display-name>
        <servlet-name>SelectStyleSheet</servlet-name>
        <servlet-class>com.justjournal.SelectStyleSheet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Update Style Sheet Override</display-name>
        <servlet-name>UpdateStyleSheetOverride</servlet-name>
        <servlet-class>com.justjournal.UpdateStyleSheetOverride</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Photo Album Image</display-name>
        <servlet-name>AlbumImage</servlet-name>
        <servlet-class>com.justjournal.AlbumImage</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Add Picture</display-name>
        <servlet-name>AddPicture</servlet-name>
        <servlet-class>com.justjournal.ctl.AddPicture</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Remove Picture</display-name>
        <servlet-name>DeletePicture</servlet-name>
        <servlet-class>com.justjournal.ctl.DeletePicture</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Journal Title</display-name>
        <servlet-name>JournalTitle</servlet-name>
        <servlet-class>com.justjournal.ctl.JournalTitle</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Biography</display-name>
        <servlet-name>Biography</servlet-name>
        <servlet-class>com.justjournal.ctl.Biography</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>xml-rpc</servlet-name>
        <url-pattern>/xml-rpc/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateJournal</servlet-name>
        <url-pattern>/updateJournal</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditEntry</servlet-name>
        <url-pattern>/EditEntry</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateStyleSheetOverride</servlet-name>
        <url-pattern>/prefs/UpdateStyleSheetOverride</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>loginAccount</servlet-name>
        <url-pattern>/loginAccount</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SelectStyleSheet</servlet-name>
        <url-pattern>/SelectStyleSheet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AlbumImage</servlet-name>
        <url-pattern>/AlbumImage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddPicture</servlet-name>
        <url-pattern>/prefs/AddPicture</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeletePicture</servlet-name>
        <url-pattern>/prefs/DeletePicture</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JournalTitle</servlet-name>
        <url-pattern>/prefs/JournalTitle</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Biography</servlet-name>
        <url-pattern>/prefs/Biography</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>

</web-app>
