<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>JustJournal</display-name>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/jjDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <filter>
        <filter-name>Crawl</filter-name>
        <filter-class>com.justjournal.CrawlFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Crawl</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Caching -->
    <filter>
        <filter-name>CompressionFilter</filter-name>
        <filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CompressionFilter</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CompressionFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CompressionFilter</filter-name>
        <url-pattern>*.map</url-pattern>
    </filter-mapping>

    <!-- Listeners -->
    <listener>
        <listener-class>com.justjournal.core.MailServletContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.justjournal.core.RssCacheContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- Spring intercepts everything.. avoid that by using tomcat's default servlet for output -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/scripts/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.txt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.map</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>Image Viewer</display-name>
        <servlet-name>image</servlet-name>
        <servlet-class>com.justjournal.ctl.Image</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>xml-rpc</servlet-name>
        <servlet-class>com.justjournal.ctl.XmlRpc</servlet-class>
        <init-param>
            <param-name>streamMessages</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param> <!-- Optional! Defaults to text/xml and ISO-8859-1 -->
            <param-name>contentType</param-name>
            <param-value>text/xml; charset=ISO-8859-1</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Journal Update</display-name>
        <servlet-name>updateJournal</servlet-name>
        <servlet-class>com.justjournal.ctl.UpdateJournal</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>JJ Login</display-name>
        <servlet-name>loginAccount</servlet-name>
        <servlet-class>com.justjournal.ctl.LoginAccount</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Photo Album Image</display-name>
        <servlet-name>AlbumImage</servlet-name>
        <servlet-class>com.justjournal.ctl.AlbumImage</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Add Picture</display-name>
        <servlet-name>AddPicture</servlet-name>
        <servlet-class>com.justjournal.ctl.AddPicture</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Remove Picture</display-name>
        <servlet-name>DeletePicture</servlet-name>
        <servlet-class>com.justjournal.ctl.DeletePicture</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>xml-rpc</servlet-name>
        <url-pattern>/xml-rpc/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateJournal</servlet-name>
        <url-pattern>/updateJournal</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>loginAccount</servlet-name>
        <url-pattern>/loginAccount</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AlbumImage</servlet-name>
        <url-pattern>/AlbumImage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddPicture</servlet-name>
        <url-pattern>/prefs/AddPicture</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeletePicture</servlet-name>
        <url-pattern>/prefs/DeletePicture</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>

</web-app>
