#ticker {
    margin: 0 auto 10px;
}

#ticker table {
    background: transparent url(../images/ticker744wide_btm.gif) no-repeat bottom left;
    border: 0;
    margin: 0;
    padding: 0;
}

#ticker table td {
    font-size: 12px;
}

#ticker table td#tic-title {
    background: transparent url(../images/ticker_top.gif) no-repeat top left;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 0;
    text-align: center;
    vertical-align: top;
    width: 184px;
}

#ticker table td#tic-item {
    background: transparent url(../images/ticker_top.gif) no-repeat top right;
    padding: 4px 10px 4px 16px;
    width: 534px;
    text-align: left;
}

#ticker table td#tic-item a {
    opacity: 0.999;
}

#ticker table a {
    color: #222;
    text-decoration: none;
}

#ticker table a:hover {
    color: #111;
    text-decoration: underline;
}